html, body {
    font-family: "Noto Sans", "Roboto", "Arial", "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#map {
    width: 100vw;
    height: 100vh;
}

.ol-attribution.ol-unselectable {
    right: 0.5em;
    left: auto;
    bottom: 0.5em;
    top: auto;
    position: absolute !important;
    background: #ffffff;
    border-radius: 6px;
    font-size: 0.75em;
    color: #444;
    margin: 0;
    padding: 0.5em 1em;
    z-index: 1002;
}

#mapPopup {
    display: none;
    position: fixed;
    top: 2vh;
    left: 2vw;
    width: 96vw;
    height: 96vh;
    background: white;
    z-index: 1003;
    border: 2px solid #444;
    box-shadow: 0 0 20px #444;
    border-radius: 1em;
}

#popupInner {
    width: 100%;
    height: 90%;
    font-size: 0.75em;
}

#popupClose {
    position: absolute;
    top: 0.5em;
    right: 1em;
    z-index: 1001;
    font-size: 1.0em;
    background: #eee;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0.2em 0.5em;
}

#popupAttribution {
    position: absolute;
    bottom: 0.5em;
    right: 1em;
    left: auto;
    background: #fafafa;
    padding: 0.5em 1em;
    border-radius: 6px;
    font-size: 0.75em;
    color: #444;
    z-index: 1002;
}

#popupControls {
    font-size: 0.75em;
    margin: 10px 0;
    background: #fafafa;
    padding: 8px;
    border-radius: 6px;
    width: fit-content;
    display: flex;
    align-items: center;
    color: #444;
    gap: 1em;
}

#mapInfo {
    position: absolute;
    top: 0.5em;
    left: 1em;
    right: auto;
    bottom: auto;
    background: #fafafa;
    padding: 0.5em 1em;
    border-radius: 6px;
    font-size: 0.75em;
    color: #444;
    z-index: 1002;
}

#mapAttribution {
    position: absolute;
    bottom: 0.5em;
    right: 1em;
    left: auto;
    background: #fafafa;
    padding: 0.5em 1em;
    border-radius: 6px;
    font-size: 0.75em;
    color: #444;
    z-index: 1002;
}

.ol-tooltip {
    z-index: 1100;
}
